<h1>Hello Angular 19 Project</h1>
<app-login></app-login>
<app-signup></app-signup>
<!--<h2>{{title}}</h2>
<h3>{{name}}</h3>
<h2>{{3+5}}</h2>
<h3>{{x+y}}</h3>
<h3>{{x+y-x}}</h3>
<h3>x+y</h3>
<h2>x==y</h2>

<h2>{{user1}}</h2>
<h2>{{user2}}</h2>
<h2>{{user1==user2}}</h2>

<app-login></app-login>

<h1>Hello world</h1>
<app-login></app-login>

<h1>Hello signup page</h1>
<app-signup></app-signup>
<h1>Hello signup page</h1>

<button (click)="sum(10,20)">Sum</button>
<button (click)="updateUsername()">updateData</button>-->

<h1>Counter App</h1>
<div style="text-align : center">
  <h2 class="count" >{{value}}</h2>
  <div>
<!--    <button class="btn bg-red" (click)="decrement()">Decrement</button>
    <button class="btn bg-black" (click)="reset()">reset</button>
    <button class="btn bg-green" (click)="increment()">Increment</button>-->

    <button class="btn bg-red" (click)="handleCounter('minus')">Decrement</button>
    <button class="btn bg-black" (click)="handleCounter('reset')">reset</button>
    <button class="btn bg-green" (click)="handleCounter('plus')">Increment</button>
  </div>
</div>

<h1>Event in Angular</h1>
<button class="btn-test" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>

<div
  (mouseenter)="handleEvent($event)"
    style ="background-color:green; width:100px; height:100px;">
</div>

<div
  (mouseleave)="handleEvent($event)"
  style ="background-color:red; width:100px; height:100px;">
</div>


<br>
<br>
<h1>Get and Set value in Input field</h1>
<h2>User Name : {{username}}</h2>
<h2>displayName : {{displayName}}</h2>
<h2>setName : {{setName}}</h2>
<input type="text" placeholder="enter the value" (input)="getValue($event)">
<br>
<br>
<button (click)="showName()">Get Value</button>
<button (click)="setUserName()">Set Value</button>
<button (click)="resetName()">reset Value</button>
<hr>
<hr>
<!--default template for get and set value-->
<h2>Email : {{email}}</h2>
<input type="text" value ='{{email}}' placeholder="enter the email id" #emailField>
<button (click)='getEmailValue(emailField.value)'>get Email</button>
<button (click)='setEmailDefault()'>set Email</button>

<!-- Component style -->
<h1>Style Rules and option</h1>
<app-profile></app-profile>

<!-- Inline style  -->
<h2 style="color : blue">He is a hardworking employee</h2>

<!--if in angular 19-->
@if(displayimage){
 <div style="width : 200px; height : 200px; background-color :green;">

 </div>
}
<br>
<button (click)="hiddenToggle()">Toggle</button>

<b><hr></b>
<!--if-else in angular 19-->
<button (click)="colorChangeToggle()">{{toggleColour ? 'show red colour':'show orange colour'}}</button>

@if(toggleColour){
  <div style="width:200px;height:200px;background-color:red;">
  </div>
}
@else{
<div style="width:200px;height:200px;background-color:orange;">
</div>
}









